<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style/main.css">
<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
<title>Portal</title>
<body>

    <div  class="container" ng-app="myApp" ng-controller="myCtrl">
        <img src="images/adventhealth.png">
          <input placeholder="UserName" type="text" ng-model="userName"><br>
          <input placeholder="Password" type="password" ng-model="password"><br>
        <br>
        <a href="pages/dash2.html"><button type="submit" class="signIn" >Sign In</button></a>
        
        </div>
       
</script>
</body>

</html>