body{
    background-color: lightcyan;
}
img{
    width: 100px;
}
#logout{
    margin-left: 90%;
}
#toolbar{
    width: 100%;
}
#controls{
    margin-left: 10px;
    margin-top: 5%;
}
button{
    width: 100px;
    background-color: rgb(61, 61, 199);
    color: white;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
}
.navbar{
    background-color: white;
    width: 100%;
}
#logo{
width: 500px;
}
#welcome{
    text-align: center;
    width: 500px;
    padding-top: 5%;
}
#link{
   text-align: right;
   width: 500px;
}

.plots{
    width: 200px;
    height: 200px;
    margin-left: 20%;
}
.manipulate{
    text-align: center;
    margin-left: 50%;
}

/**/

@media only screen and (max-width: 580px) {
    #logo{
        width: 150px;
        }
        #welcome{
            text-align: center;
            width: 150px;
            padding-top: 10%;
        }
        #link{
           text-align: left;
           width: 150px;
        }
        
  }